body {
  background-color: white;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  border-radius: 5px;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  background-color: white;
  padding: 5px;
}

header {
  background: #f8d7da;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 45px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #f8d7da;
  box-sizing: border-box;
}

header .mssv {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

header .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  flex-grow: 1;
}

header .switch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  gap: 10px;
}

.switch .setting {
  color: black;
  display: block;
  z-index: 1;
}

.switch .toggle-switch {
  opacity: 0;
  width: 30px;
  height: 18px;
  position: absolute;
  z-index: 0;
}

.switch label {
  cursor: pointer;
  position: relative;
  display: block;
  background-color: #ccc;
  border-radius: 50px;
  transition: background-color 0.3s;
  width: 40px;
  height: 20px;
}

.switch label::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-switch:checked+label {
  background-color: #4CAF50;
}

.toggle-switch:checked+label::before {
  transform: translateX(20px);
}

nav {
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid lightblue;
  border-radius: 5px;
  background-color: lightblue;
  box-sizing: border-box;
}

nav .home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  color: black;
}

nav .search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 2px;
}

nav .search .input_search {
  background-color: white;
  padding-left: 5px;
  font-size: 15px;
  border-radius: 5px;
}

nav .search .button_search {
  font-size: 15px;
  color: green;
  border: 1px solid green;
  border-radius: 5px;
  cursor: pointer;
}

main {
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;

}

footer {
  margin-top: 30px;
  height: 25px;
  width: 100%;
  background-color: rgb(36, 36, 232);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(36, 36, 232);
}

/* Đổi màu cho các phần tử cụ thể trong chế độ dark-mode */
.dark-mode #app {
  background-color: #444;
}

.dark-mode header {
  background-color: #270b0b;
  color: #fff;
}

.dark-mode nav {
  background-color: #0b121d;
}

.dark-mode .button_search {
  background-color: #444;
  color: #fff;
}

.dark-mode input {
  background-color: #444;
  color: black;
}

.dark-mode main {
  background-color: #444;
}

.dark-mode footer {
  background-color: #1d1c1c;
  color: #ccc;
}

.search-results {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-results h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.search-results ul {
  list-style-type: none;
  padding: 0;
}

.search-results li {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.search-results div {
  font-size: 18px;
}

.search-results li:last-child {
  border-bottom: none;
}

.search-results .title {
  font-weight: bold;
  font-size: 20px;
}

.search-results .overview {
  font-size: 16px;
  color: #555;
}

main {
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 30px;
  border: none;
}

/* Hiển thị các poster dưới dạng lưới */
.movie-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: movie-navigation movie-content movie-navigation;
}

.movie-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-navigation button {
  background-color: white;
  font-weight: bold;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.movie-navigation button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Phần nội dung của phim */
.movie-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: transform 0.3s ease;
}

/* Phần CSS cho Top 5 (luôn hiển thị tiêu đề) */
.movie-poster.top5 .movie-title {
  opacity: 1;
  transform: translateY(0);
}

/* Phần CSS cho Most Popular và Top Rated (hiển thị tiêu đề khi hover) */
.movie-poster.top15-30 .movie-title {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Hiển thị tiêu đề khi hover vào poster */
.movie-poster.top15-30:hover .movie-title {
  opacity: 1;
  transform: translateY(0);
}

/* Các hiệu ứng khác như scale và shadow */
.movie-poster {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, z-index 0.3s ease;
  z-index: 1;
}

/* Hiệu ứng khi hover vào poster */
.movie-poster:hover {
  transform: scale(1.2);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
  z-index: 10;
}

/* Tiêu đề của phim trong poster */
.movie-title {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 0px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(0);
}

.movie-info {
  margin-left: 20px;
  text-align: left;
}

.movie-info h3 {
  font-size: 24px;
  font-weight: bold;
}

.movie-info p {
  font-size: 14px;
}

.movie-navigation:first-child {
  left: 0;
}

.movie-navigation:last-child {
  right: 0;
}

p strong {
  font-weight: bold;
  color: black;
  font-size: 20px;
}

/* Hiển thị kết quả tìm kiếm */
.search-results-wrapper {
  padding: 20px;
  box-sizing: border-box;
}

.search-results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.movie-poster-card {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: bold;
}

.movie-title-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  height: 30px;
  margin-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: absolute;
  bottom: 0;
}

.genre-list {
  font-size: 16px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  padding: 20px;
  text-align: left;
  overflow-y: auto;
}

/* Phim Poster */
.movie-poster {
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

/* Chi tiết phim */
.movie-details {
  font-family: Arial, sans-serif;
}

.movie-details h2 {
  margin-bottom: 10px;
  font-size: 1.6rem;
  color: #333;
}

.movie-details p {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #555;
}

/* Nút đóng modal */
.close-btn {
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-btn:hover {
  background: black;
}

/* Thông tin diễn viên trong modal */
.actor-details {
  font-family: Arial, sans-serif;
}

.actor-details h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.actor-details p {
  font-size: 1.1rem;
  color: #555;
}

.actor-poster {
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

/* Hiển thị thông tin diễn viên */
.actor-link {
  color: #1e90ff;
  text-decoration: none;
  cursor: pointer;
}

.actor-link:hover {
  text-decoration: underline;
}